<div class="d-flex justify content between">
    <span class="fw-bolder me-lg-5 mt-3 mt-lg-0"><a class="navbar-brand" href="/"><span class="text-primary fw-bold">S</span>in<span class="text-primary  fw-bold">D</span>OC</a></span>
    
    <div class="row">
        <div class="col-4"><img src="/static/img/abstarctive.png" class="img-thumbnail" alt="..."></div>
        <div class="col-4"><img src="..." class="img-thumbnail" alt="..."></div>
        <div class="col-4"><img src="..." class="img-thumbnail" alt="..."></div>
    </div>
    
</div>