<nav class="navbar navbar-expand-lg navbar-light  w-100 px-4 shadow-sm mt-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <span class="fw-bolder me-lg-5 mt-3 mt-lg-0"><a class="navbar-brand" href="/"><span class="text-primary fw-bold">S</span>in<span class="text-primary  fw-bold">D</span>OC</a></span>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
          <li class="nav-item mx-lg-2">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item mx-lg-2">
          </li>
          <li class="nav-item mx-lg-2">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        
        <a class="nav-link btn btn-primary btn-sm text-light ms-2" href="/app">Summarizer</a>
      </div>
    </div>
  </nav>